div {
  border-top: 2px  red;
  border-right: 2px black;
  border-bottom: 2px rgb(252, 4, 4);
  border-left: 2px black;
  margin-block: auto;
  margin-top: 0%;
  margin-bottom: 0%;
}
body {
  background-color: rgb(185, 131, 255);
  font-family: 'Itim', Arial, sans-serif;
  color: black;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
}

h1, h2 {
  color: rgba(241, 6, 135, 0.986);
  font-family: 'Itim', Arial, sans-serif;
  font-size: 30px;
  line-height: 1.2;
}

h3 {
  color: rgba(241, 6, 135, 0.986);
  font-family: 'Itim', Arial, sans-serif;
  font-size: 30px;
  line-height: 1;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-top: 1px;
}

a {
  color: rgb(5, 42, 255);
  text-decoration: none;
  text-align: center;
}

a:hover {
  color: rgb(234, 0, 255);
  text-decoration: underline;
}

.profile-img {
  border-radius: 25%;
}

.social-links {
  background-image:linear-gradient(to bottom, rgba(255, 230, 4, 0.911), rgba(250, 7, 7, 0.76));
  background-color: rgb(153, 254, 255);
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-links li {
  margin: 5px 5px;
  display: flex;
  align-items:center;
}

.container {
  width: 750px;
  margin: 0% auto;
}

.card-white {
  background-color: rgb(148, 179, 253);
  padding: 20px;
  box-shadow: 50px 50px 60px rgba(0,0,0,0.1);
  border-radius: 10px;
  margin: 10px 10px;
  text-align: center;
}

#btn-blue {
  background-color: #006eff;
  padding: 5px 10px 6px;
  margin-bottom: 30px !important;
  color: white;
  border-radius: 10px;
}

.mr8 {
  margin-right: 8px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
